/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Global */
body {
  font-family: Georgia,'Times New Roman',serif;
  background-color: #FFF;
  overflow-x: hidden;
  font-size:17px;
}
a {
    color: #FFF;
    text-decoration: none;
	outline: none;
}
a:hover {
    color: #e4e4e4 !important;
    text-decoration: none;
    outline: none;
}
a:focus {
    color: #e4e4e4 !important;
    text-decoration: none;
    outline: none;
}


a:link {
	color: #008223;
}
a:visited {
	color: #008223;
}

a:active {
	color: #008223;
}

.section-spacer{ margin:20px 0;}

.btn-primary,
.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary:active:focus {
    white-space: normal;
    background: #fe933c;
    background: -moz-linear-gradient(top, #fe933c 0%, #e64e01 100%);
    background: -webkit-linear-gradient(top, #fe933c 0%,#e64e01 100%);
    background: linear-gradient(to bottom, #fe933c 0%,#e64e01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe933c', endColorstr='#e64e01',GradientType=0 );
    font-size: 32px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 50px;
    padding: 15px 30px;
    text-shadow: 1px 1px 2px black;
    border: 3px solid white;
    box-shadow: inset 0px 5px 15px -8px black,0px 5px 15px -8px black;
    margin-top: 20px;
}
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active:hover,
.btn-secondary:active:focus {
    white-space: normal;
}
.btn-primary:hover {
  transition: all 0.5s;

}
.btn-secondary:hover {
  transition: all 0.5s;

}



/* Menu */

a.navbar-brand {
  height: auto;
  padding: 0;
 
}
.navbar {
 font-family: 'Oswald', sans-serif;
  padding: 15px 5px 5px;
  margin: 0px;
background:#e64415;
border-bottom:#e64415 5px solid !important;
color:#FFF;
}
nav.navbar h1 {
    margin: 0px;
}
.icon-bar {
  color:#FFF !important;
  border-color: #FFF !important;
  background-color: #FFF !important;
}

nav.navbar {
    border-radius: 0px;
    border: none;
   }
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #9b9b9b;
    	background:url("top-logo-bg.jpg.html")/*tpa=http://www.shapemagazines.com/Diet1/images/top-logo-bg.jpg.html*/ no-repeat top center;
	background-size:cover;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #9b9b9b;
}
li.social ul {
    padding: 7px 0 0;
}
.navbar-default .navbar-nav>li>a {
     border: none;
    text-transform: uppercase;
   font-size: 16px;
    color: #FFF;
}
li.social {
     border: none;
}


/* Top Banner */

.top-banner{ padding:20px 10px; background:#f3f3f3 ; border-bottom:#dbdedc solid 1px;}


/* Body Section */

.body-section{ padding:20px 0;}

.body-section img{}


.body-section p{
	font-size:17px; line-height:26px;
	margin-bottom:20px;
	}
.body-section h1{
	 font-family: 'Oswald', sans-serif;
	color:#000;
font-size:26px;
line-height:32px;
	}
.body-section span{
	color:#ff0000;
	}	
.thumb-img{ max-width:220px; margin:0 10px 10px 0;}	
.main-post-pic{ padding:5px; background:#ffffcc; width:100%;
	}
.gray-box{ background:#ededed; padding:20px; margin-bottom:20px;}
.todayDate{ color:#F00;}
.photo-full-size{ width:100%;}


 /* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 1200px) {
.container {
    width: 950px;
}

}


@media (max-width: 991px) {

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.navbar {
		text-align:left;
		 
		}
		
div.navbar-offcanvas {
  overflow: hidden;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border-color: #;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #;
  transition: all 0.5s;
}
.navbar-default .navbar-offcanvas {
	background:#008325;
	padding: 10px 0 0 20px;
}		
li.social ul {
    padding: 7px 0 0 20px;
}
}
		
		



/* Portrait phones and smaller */
@media (max-width: 480px) {
	.callus-txt{
	font-size:10px;

}
}


