html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}



/* GENERAL */

body {
	color: #6a6a6a;
    font-family: Georgia,'Times New Roman',serif;
}
a {
	color: black;	
}

#leftCol a {
	color: #008435;
	font-weight: bold;
}
#leftCol a:hover {
	color: #00a341;
}
/*
.container {
	/*width: 971px;
	width: 876px;
	margin: 0 auto;
}
*/
.alignCenter {
	text-align: center;
}

#header {
	background: url("headerWrap.png")/*tpa=http://www.shapemagazines.com/Diet1/images/headerWrap.png*/ repeat-x;
}

#subHeader {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
	padding: 15px 0;
	border-bottom: 1px solid #dbdedc;
	max-width: 971px;
	width:100%;

}
.subHeaderBanner a {
	display: inline-block;
}

#leftCol {
	
	float: left;
	/*width: 671px;*/
	max-width: 605px;
}
#leftColContent{
	padding-right: 30px;
	line-height: 1.6;
}

.pHeader {
	margin-top: 20px;
	margin-bottom: 30px;
	/*width: 575px;*/
}


.pHeader h1 {
	font-size: 30px;
    line-height: 44px;
    font-family: Oswald, sans-serif;
    color: black;
    margin-top: 10px;
}
.pMeta {
	font-style: italic;
    font-size: 13px;
    padding: 5px 0;
    line-height: 4;
    color: black;
}

.pContent p {
	font-size: 1em;
	color: #404040;
    line-height: 1.6em;
    margin-bottom: 20px;
}

#rightCol {
	max-width: 270px;
	float: right;
	margin-top: -65px;
}

.adUnit a img {
	max-width: 270px;
}
.adUnit {
	margin-bottom: 30px;
}
.adUnit p {
	font-size: 0.9em;
    line-height: 1.6em;
    font-style: italic;
    color:#404040;
}


#comments {
	clear: both;
	background: #f7f7f7;
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 );
	border-top: 1px solid #ddd;
    padding: 45px 0;
    max-width: 971px;
    width: 100%;

}

.tabsWrap {
	position: relative;
	max-width: 469px;
}

.noComments {
	color: #3cb7db;
	position: absolute;
	top: 9px;
	right: 39px;
	font-family: Oswald,sans-serif;
    font-weight: 600;
    font-size: 12px;
    z-index: 10;
}

.commentsContent {
	margin-top: 20px;
	padding: 0 5px;
	max-width: 469px;
}

.ccTitle {
	color: #141823;
	font-weight: bold;
	line-height: 25px;
	font-size: 14px;
	font-family: helvetica, arial, sans-serif;
	border-bottom: 1px solid #e9eaed;

	margin-bottom: 24px;
    padding: 8px 0;
}

.ccSortBy {
	float: right;
}


.commentsList ul li {
	border-bottom: 1px dotted #d3d6db;
	padding-bottom: 12px;
	margin-bottom: 15px;
}

.clAvatar {
	float: left;
}

.clContent {
	margin-left: 42px;
}

.clContent h4 {
	font-weight: bold;
	color: #3b5998;
	font-size: 14px;
    line-height: 1.358;
    font-family: helvetica, arial, sans-serif;
}
.clContent h4 a {
	text-decoration: none;
	color: #3b5998;
}

.clContent h4 a:hover{
	color: #00B41F;
}

.clContent p {
	font-size: 14px;
    line-height: 1.358;
    font-family: helvetica, arial, sans-serif;
    color: #141823;
    margin-bottom: 4px;
    margin-top: 4px;
}

.clTime {
	color: #7f7f7f;
	font-size: 12px;
    line-height: 1.358;
    font-family: helvetica, arial, sans-serif;
}
.likeLink a{
	color: #627aad;
	text-decoration: none;
}
.likeLink a:hover{
	text-decoration: underline;
}

.footer{
	background: #2f2d2b;
	background: -moz-linear-gradient(top,  #2f2d2b 0%, #4d4a48 100%);
	background: -webkit-linear-gradient(top,  #2f2d2b 0%,#4d4a48 100%);
	background: linear-gradient(to bottom,  #2f2d2b 0%,#4d4a48 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2d2b', endColorstr='#4d4a48',GradientType=0 );
	border-top: 1px solid #4d4a48;
	padding-bottom: 30px;}
#ask {
	
	padding-bottom: 30px;
	max-width: 971px;
	width: 100%;
}

.askWrapper {
	position: relative;
}

.askLogo {
	position: absolute;
	top:-8px;
	left: 0;
	z-index: 10;
}

.askInput .inputField{
	background: url("")/*tpa=http://www.shapemagazines.com/Diet1/images/searchInputBg.png*/ no-repeat;
	border: none;
	max-width: 461px;
	width:100%;
	height: 60px;
	margin-top: 34px;
	margin-left: 208px;
	padding-left: 50px;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
	font-size: 16px;
	color: black;
    /*font-weight: 700;*/
    font-family: helvetica,sans-serif;
    
}

input:focus{
    outline: 0;
}

.inlineItems{
/*	font-size: 0;*/
}
.inlineItems .iItem{
	float: left;
}

.askInput input::-webkit-input-placeholder{
	color: #b2b2b2;
	font-size: 12px;
	text-transform: uppercase;
}
.askInput input:-moz-placeholder{
	color: #b2b2b2;
	font-size: 12px;
	text-transform: uppercase;
}
.askInput input::-moz-placeholder{
	color: #b2b2b2;
	font-size: 12px;
	text-transform: uppercase;
}
.askInput input:-ms-input-placeholder {
   color: #b2b2b2;
	font-size: 12px;
	text-transform: uppercase;
}

.inputButton {
	border: none;
	background: none;
	background-image: url("")/*tpa=http://www.shapemagazines.com/Diet1/images/searchAskBtns.png*/;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 57px;
	height: 60px;
	display: inline-block;
	text-indent: -99999px;
	font-size: 16px;
}
.inputButton:hover{
	background-position: -57px 0;
}

.askBtnSubmit {
	margin-top: 34px;
	margin-left:200px;
}
.sharecareLogo{
	margin-top: 47px;
	float: right;
}
.colWrap {
	margin-top: 70px;
	margin-bottom: 48px;
}

.col {
	float: left;
    width: 30%;
    padding-right: 2.4%;
    margin-right: 2.4%;
    border-right: 1px solid #dbdedc;
    color: #000;
}

.col h4 {
	font-family: Oswald,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
    display: block;
    overflow: hidden;
    margin: -10px 0 0;
    padding: 10px 0 15px;
}

.col ul li {
	padding: 12px 0 12px 8px;
    border-top: 1px dashed #bbb;
    color: #000;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    background: url("")/*tpa=http://www.shapemagazines.com/Diet1/images/disc.png*/ left 20px no-repeat;
}
.col ul li a {
	text-decoration: none;
	font-style: normal;
}

.col3 {
	margin-right: 0;
	padding-right: 0;
	width:30%;
	border-right: none;
}

#footerMenu {
	color:#fff;
	background-color: #2f2d2b;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.fMenuWrap {
    text-align: center;
    list-style: none inside;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 26px;
}

.fMenuWrap li {
	font-size: 12px;
    line-height: 12px;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.fMenuWrap li a {
	color: #bdbfbf;
    text-decoration: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px 0 7px;
    font-weight: 600;
    border-right: 1px solid #dbdedc;
    vertical-align: middle;
    font-family: Helvetica,sans-serif;
    text-transform: uppercase;
}

.fMenuWrap li a:hover{
	color: #00B41F;
}

.footerLogos{
	margin-top: 30px;
}

.copy {
	font-family: Oswald,sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #bdbfbf;
    padding: 18px 10px 30px;
    margin: 0 0 100px;
}

.copy a {
	color: #bdbfbf;
}

.copy a:hover{
	color: #00B41F;
}

.noty_message {
	font-family: Helvetica,sans-serif;
}
.noty_message b {
	font-weight: bold;
}
.usersOnlineWrap {
	/*bottom: 20px;*/
	bottom: 60px;
}
.notifWrap {
	bottom: 85px;
	display: none;
}

.notifTitle {
	font-weight: bold;
	margin-bottom: 15px;
}

.usersOnlineWrap, .notifWrap {
	
    right: 20px;
    position: fixed;
    max-width: 310px;
    height: auto;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    z-index: 15;
}
.userOnline, .notif {
	overflow: hidden;
    margin: 4px 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;
    color: rgb(68, 68, 68);
    max-width: 310px;
    height: 48px;
    background-color: rgb(255, 255, 255);

}


.notif {
	font-size: 13px;
    text-align: left;
    padding: 10px;
    width: auto;
    font-family: Helvetica, sans-serif;
    position: relative;
}

.uoContent {
	font-size: 13px;
    line-height: 30px;
    text-align: left;
    padding: 10px 10px 10px 38px;
    width: auto;
    font-family: Helvetica, sans-serif;
    position: relative;
    background: url("onlineUsers.png")/*tpa=http://www.shapemagazines.com/Diet1/images/onlineUsers.png*/ no-repeat 10px center;
}

.uoContent span {
	font-weight: bold;
}

.productWrap {
	max-width: 310px;
	height: 300px;
	overflow:hidden;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px;

}

.productWrap img {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.productRibbon {
	position: absolute;
	bottom:0;
	left: 0;
}

.productWrap .notyText{
	position: absolute;
    bottom: 23px;
    max-width: 310px;
    text-align: center;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #006836;
    font-size: 23px;
    text-shadow: 0px 1px 0px #FFFFFF;
}

#noty_bottomRight_layout_container li:first-child {
	/*margin-bottom: 30px !important;*/
	margin-bottom: 67px !important;
}

#noty_bottomRight_layout_container li:hover {
	cursor: default !important;
}

.trials {
	font-family: Oswald, sans-serif;
	max-width: 150px;
	position: fixed;
	/*right: 80px;*/
	bottom: 175px;
}

.trial1 {
	right: 99px;
}

.trialOffer {
	width: 100%;
	height: 45px;
	display: inline-block;
	margin: -1px 0 -1px 0;
	text-align: center;

}

.trialOfferWrap {
	max-width: 142px;
	margin: 0 auto;

}

.noOfTrials {
	font-size: 31px;
	font-weight: bold;
	color: #383838;
	height: 45px;
	display: table-cell;
    vertical-align: middle;	
	padding-left:5px;
}

.trialButton a {
	display: block;
	/*width: 100%;*/
	/*background: #03b520;*/
	/*text-align: center;*/
	/*color: white;*/
	text-decoration: none;
	text-transform: uppercase;
	/*padding: 10px 0;*/
}

.interviewItalic {
	font-style: italic;
}


.results {
  padding: 5px;
  background: #f3f3f3;
}

p strong {
	font-weight: bold;
}

ul.list{
	list-style: disc !important;
	padding-left: 20px;
	color: #404040;
}

.pImage {
	float: left;
	margin-right: 20px;
}

.pImage img {
	max-width: 200px;
}

.gray {
	background: rgba(0, 0, 0, 0.07);
    padding: 15px;
    margin-bottom: 20px;
}

.steps span{
	float: left;
	margin-right: 10px;
}

.sidebarTitle {

    font-size: 21px;
    text-align: center;
    margin-bottom: 20px;
    color: #404040;
    font-family: Oswald,sans-serif;
}

span.titleEm {
	/*color: #d51e30;*/
	color: red;
}

.todayDate {
	color: #e50000 !important;
}

.sticky-footer{
	background: #e64415 none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	padding: 8px;
	position: fixed;
	width: 100%;
	z-index: 11;
}
.white-btn{
	background-color: #fff;
	color: #e64415;
}
@media all and (max-width: 1580px) and (min-width: 1260px) {
	/*#rightCol {
		display: none;
	}*/

	#noty_bottomRight_layout_container, #noty_bottomRight_layout_container li, .usersOnlineWrap, .notifWrap, .userOnline, .notif {
        max-width: 150px !important;
    }

    .trial1 {
        right: 20px;
    }

    span.dash {
        display: none;
    }
    span.forceNewLine {
        display: block;
    }

    .trials {
        /*bottom: 205px;*/
        bottom: 241px;
    }


}

@media all and (max-width: 1259px) and (min-width: 975px) {
	#rightCol {
		display: none;
	}
}

@media all and (max-width: 974px) and (min-width: 775px){
	#rightCol {
		display: none;
	}
	#noty_bottomRight_layout_container, #noty_bottomRight_layout_container li, .usersOnlineWrap, .notifWrap, .userOnline, .notif {
        width: 150px !important;
    }

    .trial1 {
        right: 20px;
    }

    span.dash {
        display: none;
    }
    span.forceNewLine {
        display: block;
    }

    .trials {
        bottom: 205px;
    }
}

@media all and (max-width: 774px) {
	#rightCol {
		display: none;
	}

	#noty_bottomRight_layout_container, .trials, .usersOnlineWrap {
        display: none;
    }
}


.trials .trialImage a img{width:60%}
#noty_bottomRight_layout_container{}
#ulp-M8xgUygaQER72mOa-overlay{display: none !important}
#ulp-M8xgUygaQER72mOa{display: none !important}
#ulp-y3pfi5zjVbEpLhUe{display: none !important}
#ulp-cc9GdrkIrO3tDLCz{display: none !important}
#ulp-BnxWsf7lh82ETVxE{display: none !important}

